#header {
	background-color: black;
	color: white;
	height: 9vh;
	width: 100vw;
}

.home {
	margin: 0px;
	padding: 0px;
}

.header-name {
	position: relative;
	margin: 10px;
	font-size: 22px;
	font-weight: bold;
}

.settings {
	float:right;
	margin:10px;
}

.MuiIcon-fontSizeLarge {
	font-size: 3.25rem !important;
}

.control-bar {
}

.ai-jam-button {
	font-size: 30px !important;
	align: center !important;
	font-weight:bold !important;
}

.settings-bar {
	float:right !important;
}

.title {
    flexGrow: 1;
}

.app_message {
    padding-left: 3vw;
    padding-right: 3vw;
}

#tempo {
    width: 30px;
}

.tempoSelector {
    margin-left:5px !important;
    margin-right:15px !important;
}

.MuiInputBase-root {
    color:white !important;
}

.MuiTypography-colorTextSecondary {
    color:white !important;
}
.MuiFormHelperText-root {
    color:white !important;
}
.playerControls {
    float:right;
    height: 5px;
    width: 20px;
}

.menuButton {
    padding: 7px !important;
    margin-left: 10px !important;
}

.addInstrument {
	color: white !important;
}