#sidebar {
	position:absolute;
	background-color: #d7d7db; 
	padding: 0px;
}

.sidebar-full {
	height: 68vh;
	width: 14vw;
}
.sidebar-min {
	height: 68vh;
	width: 12vh;
}
.MuiButtonBase-root {
	border-bottom: 1px solid #a2a8a8 !important;
	position: absolute;	
}

.MuiTypography-body2 {
	font-size: 12px !important;
	font-weight: bold !important;
}

.icon-circle {
	background-color: white;
	padding: 2px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
	border-radius: 50%;
	align-items: center; 
}